.project
.classpath
.settings/
logs/
target/
lib/
temp/
bin/
mvnw*
.mvn/

**/out/**

*.iml
#out/
*.log
*.log.*
.gitlab-ci.yml
.idea/
.idea/.*
/WebContent
/bin
/target/
/target/
/target/
/out/**
out/
out/**

**DS_Store**
